<ul id="navLinks">
    <span>
        <li><a class = "active" href='#'>Home</a></li>
        <li class="auth_nav"><a href='#'>Log Out</a></li>
        <li class="auth_nav"><a href='#' class="modal-trigger" data-target="modal-login">Login</a></li>
        <li class="auth_nav"><a href='#' class="modal-trigger" data-target="modal-signup">Sign Up</a></li>
    </span>
    
</ul>