<div class = "topnav">
    <a class = "active" href="/story"> Story </a>
    <a href="/scramble">Scramble Words</a>
    <a href="/textSpeech">Text-to-Speech</a>
    <a href="/cafe">FireBase Cafe</a>

</div>