<!DOCTYPE  html>
    <head>
        <meta charset="UTF-8">
        <title>JavaScript: Story</title>
        <link href="/assets/mainStyle.css" rel="stylesheet" type="text/css">

        

    </head>
    <body>
        <%-include('partials/nav'); %>
        
        <h2>Text to Speech</h2>
        <p>This program using gTTS to conver the text the user inputs below into an audio file for download.</p>
        <!--

        -->
        <p><strong>Still under construction</strong></p>


    </body>
  

</html>